/ExtendedPelta/Models
/ExtendedPelta/Classes/__pycache__/
/ExtendedPelta/data
/ExtendedPelta/ViTparams.txt
/ExtendedPelta/Pictures
/ExtendedPelta/ILSVRC2012_val_labels.json
/ExtendedPelta/imagenet_class_index.json
